.abs{
    margin: 0px;
    padding: 0px;
}


.sidebar_element {
    font-weight: bold;
}

.sidenav_active {
    background: #4e67bc;
}

.sidenav_active>div>div {
    color: white;
}
@media only screen and (max-width: 600px) {
main{
    padding:10px !important
}
  }